@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    color: #677300;
}

h2{
    color: #333900;
    margin: 2px 0px 35px 0;
    font-family: "Raleway",sans-serif;
    letter-spacing: 6.5px;
}

body{
    padding: 0 10px;
    margin: 0;
    background-color: #ebedd9;

}

div{
    color: #392f00;
}

nav{
    background-color: #f25e00;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 10px;
}

main{
    padding: 16;
}

img{
    box-shadow: 4px 4px 0px 4px rgba(182,71,0,0.2);
    border-radius: 25px;

}
img:hover{
    box-shadow: 6px 6px 6px 8px rgba(182,71,0,0.2);
    transform: scale(1.1);

}
footer{
    padding-top: 24;
    padding-bottom: 24;
    padding-left: 0;
    padding-right: 0;
}


img{
    max-height: 200px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16;
}
.four-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
}

a:link { text-decoration: none; }


a:visited {
    text-decoration: none;
    color: #b64700;
}

footer{
    background-color: #afb768;
    padding: 10px 10px;
    margin:10px 0;
}

a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a{
    font-family: "Raleway", sans-serif;
}

h3{
    margin: 10px 0;
}
#text-is-white{
    color:#ffffff
}
tr:nth-child(2n){
    background-color: #c3c98e;
}
